aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.layout {
    display: grid;
    grid-template-columns: 650px 1fr;
    gap: 24px;
    align-items: start;
}

@media (max-width: 900px) {
    .layout {
        grid-template-columns: 1fr;
    }
    .layout > aside {
        position: static;
    }
}

.hidden {
    display: none;
}

#score-table {
    table-layout: fixed;
}

#score-table th,
#score-table td {
    border: none;
    aspect-ratio: 1 / 1;
    text-align: center;
}

#score-table td p {
    margin: 0.1rem;
}
