:root {
    --color-primary: #0A0ACD;
    --color-primary-hover: #000068;
    --color-text-inversed: #ececec;
    --color-text-muted: #444;
    
    --color-card-background: #f5f5f5;
    --color-note-background: #fff8e3;

    --color-table-background: #f9f9f9;
    --color-table-border: #ddd;
    --color-table-gradient-1: #4a90c8;
    --color-table-gradient-2: #cfe2f3;
    --color-table-gradient-3: #f4cccc;
    --color-table-gradient-4: #cc4c4c;
}

body {
    margin: 2rem;
}

a:has(button) {
    text-decoration: none;
}

select,
table,
body,
input,
button {
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 0.4rem;
}
button.primary {
    background-color: var(--color-primary);
    color: var(--color-text-inversed);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button.primary:hover {
    background-color: var(--color-primary-hover);
}

button.transparent {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

button.transparent:hover {
    background-color: var(--color-primary);
    color: var(--color-text-inversed);
}

.muted {
    color: var(--color-text-muted);
}

main {
    width: min(100%, 1400px);
    margin: auto;
}

.flex-col,
.flex-row {
    display: flex;
    gap: 4px;
    align-items: center;
}

.flex-col {
    flex-direction: column;
    align-items: stretch;
}

.card {
    background-color: var(--color-card-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.7rem;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th,
td {
    padding: 8px 12px;
    text-align: right;
    border-bottom: 1px solid var(--color-table-border);
}

tr.even {
    background-color: var(--color-table-background);
}

th {
    background-color: var(--color-primary);
    color: var(--color-text-inversed);
    text-align: center;
}

td[data-tone="low-2"] {
    background-color: var(--color-table-gradient-1);
    color: var(--color-text-inversed);
}
td[data-tone="low-1"] {
    background-color: var(--color-table-gradient-2);
}
td[data-tone="none"] {
    background-color: var(--color-table-background);
}
td[data-tone="high-1"] {
    background-color: var(--color-table-gradient-3);
}
td[data-tone="high-2"] {
    background-color: var(--color-table-gradient-4);
    color: var(--color-text-inversed);
}
td[data-tone="high-2"] strong,
td[data-tone="low-2"] strong {
    color: inherit;
}

/* viridis colormap */
td[data-tone="viridis-0"] {
    background-color: #460A5D;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-1"] {
    background-color: #46307D;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-2"] {
    background-color: #3A528B;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-3"] {
    background-color: #2D6F8E;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-4"] {
    background-color: #228B8D;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-5"] {
    background-color: #21A585;
    color: var(--color-text-inversed);
}
td[data-tone="viridis-6"] {
    background-color: #44BE70;
}
td[data-tone="viridis-7"] {
    background-color: #84D44A;
}
td[data-tone="viridis-8"] {
    background-color: #D2E11A;
}
td[data-tone="viridis-9"] {
    background-color: #FDE724;
}

/* blues colormap */
td[data-tone="blues-0"] {
    background-color: #F2F8FD;
}
td[data-tone="blues-1"] {
    background-color: #DDEAF6;
}
td[data-tone="blues-2"] {
    background-color: #C8DCEF;
}
td[data-tone="blues-3"] {
    background-color: #A5CDE3;
}
td[data-tone="blues-4"] {
    background-color: #78B5D8;
}
td[data-tone="blues-5"] {
    background-color: #4F9BCB;
}
td[data-tone="blues-6"] {
    background-color: #2F7FBC;
}
td[data-tone="blues-7"] {
    background-color: #1662AA;
    color: var(--color-text-inversed);
}
td[data-tone="blues-8"] {
    background-color: #08448A;
    color: var(--color-text-inversed);
}
td[data-tone="blues-9"] {
    background-color: #08306B;
    color: var(--color-text-inversed);
}

@media (max-width: 600px) {
    form {
        padding: 12px;
    }
    form section {
        grid-template-columns: 1fr;
        gap: 4px;
    }
    th,
    td {
        padding: 6px 8px;
        font-size: 0.9rem;
    }
    body {
        margin: 0;
    }
    h3 {
        padding: 0rem 0.5rem;
    }
}

/* Input form */

.form-handles {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

form section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

select,
input {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
}
select:focus,
input:focus {
    outline: 2px solid var(--color-primary);
}